In [2]:
import pandas as pd

In [3]:
# Load datasets

input_path = '/Users/alexgrigoras/Datasets/aws-consumer-electronics/'
export_path = 'datasets/'

# Target time series:   https://github.com/aws-samples/amazon-forecast-samples/blob/main/library/content/TargetTimeSeries.md
data_tts = pd.read_csv(input_path + 'consumer_electronics_RTS.csv', parse_dates=True, index_col='timestamp')

#Related time series:  https://github.com/aws-samples/amazon-forecast-samples/blob/main/library/content/RelatedTimeSeries.md
data_rts = pd.read_csv(input_path + 'consumer_electronics_TTS.csv', parse_dates=True, index_col='timestamp')

In [4]:
data_tts

             item_id   store_id       price
timestamp
2017-10-01  item_001  store_001  103.000000
2017-11-01  item_001  store_001  110.795480
2017-12-01  item_001  store_001  110.795480
2018-01-01  item_001  store_001  110.795480
2018-02-01  item_001  store_001  110.795480
...              ...        ...         ...
2019-08-01  item_300  store_005   79.321226
2019-09-01  item_300  store_005   79.321226
2019-10-01  item_300  store_005   79.321226
2019-11-01  item_300  store_005   79.321226
2019-12-01  item_300  store_005   79.321226

[40500 rows x 3 columns]

In [5]:
# Create sales & demand dataset

df = pd.merge(data_rts, data_tts, on=['timestamp','item_id', 'store_id'], how='left')

In [ ]:
# Save to CSV

#df.to_csv(export_path + "aws_ce_dataset.csv", index=True)

In [7]:
df[(df['item_id'] == "item_001") & (df['store_id'] == "store_001")]

             item_id   store_id      demand       price
timestamp
2017-10-01  item_001  store_001  305.824943  103.000000
2017-11-01  item_001  store_001  276.942940  110.795480
2017-12-01  item_001  store_001  277.608189  110.795480
2018-01-01  item_001  store_001  275.940622  110.795480
2018-02-01  item_001  store_001  272.387060  110.795480
2018-03-01  item_001  store_001  267.899678  110.795480
2018-04-01  item_001  store_001  281.336676  106.110140
2018-05-01  item_001  store_001  278.328050  106.110140
2018-06-01  item_001  store_001  277.618256  106.110140
2018-07-01  item_001  store_001  279.397482  106.110140
2018-08-01  item_001  store_001  283.188987  106.110140
2018-09-01  item_001  store_001  287.976839  106.110140
2018-10-01  item_001  store_001  237.085918  122.053055
2018-11-01  item_001  store_001  239.524742  122.053055
2018-12-01  item_001  store_001  240.100109  122.053055
2019-01-01  item_001  store_001  238.657849  122.053055
2019-02-01  item_001  store_001  420.271699   82.977357
2019-03-01  item_001  store_001  350.823598   92.564467
2019-04-01  item_001  store_001  345.298923   92.564467
2019-05-01  item_001  store_001  314.551094   97.798923
2019-06-01  item_001  store_001  313.748923   97.798923
2019-07-01  item_001  store_001  315.759707   97.798923
2019-08-01  item_001  store_001  320.044658   97.798923
2019-09-01  item_001  store_001  325.455626   97.798923

In [8]:
df[(df['item_id'] == "item_001") & (df['store_id'] == "store_002")]

             item_id   store_id      demand       price
timestamp
2017-10-01  item_001  store_002  305.824943  103.000000
2017-11-01  item_001  store_002  276.942940  110.795480
2017-12-01  item_001  store_002  277.608189  110.795480
2018-01-01  item_001  store_002  275.940622  110.795480
2018-02-01  item_001  store_002  272.387060  110.795480
2018-03-01  item_001  store_002  267.899678  110.795480
2018-04-01  item_001  store_002  281.336676  106.110140
2018-05-01  item_001  store_002  278.328050  106.110140
2018-06-01  item_001  store_002  277.618256  106.110140
2018-07-01  item_001  store_002  279.397482  106.110140
2018-08-01  item_001  store_002  283.188987  106.110140
2018-09-01  item_001  store_002  287.976839  106.110140
2018-10-01  item_001  store_002  237.085918  122.053055
2018-11-01  item_001  store_002  239.524742  122.053055
2018-12-01  item_001  store_002  240.100109  122.053055
2019-01-01  item_001  store_002  238.657849  122.053055
2019-02-01  item_001  store_002  420.271699   82.977357
2019-03-01  item_001  store_002  350.823598   92.564467
2019-04-01  item_001  store_002  345.298923   92.564467
2019-05-01  item_001  store_002  314.551094   97.798923
2019-06-01  item_001  store_002  313.748923   97.798923
2019-07-01  item_001  store_002  315.759707   97.798923
2019-08-01  item_001  store_002  320.044658   97.798923
2019-09-01  item_001  store_002  325.455626   97.798923